<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Glimesh Finances: Opening Balances</title>

    <!-- begin scripts -->
    
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Glimesh Finances - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="balsheet.html">Balance Sheet</a></li>
  <li><a href="income.html">Income Statement</a></li>
  <li><a href="equity/holdings.html">Equity/Holdings</a></li>
  <li><a href="trial.html">Trial Balance</a></li>
  <li><a href="journal/all.html">General Journal</a></li>
  <li><a href="index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Opening Balances</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      
               <div class="halfleft">

                 <div id="assets">
                  <h3>Assets</h3>
                  <table class="fullwidth tree-table">
<thead>
<tr>
<th class="first">Account</th>
<th>USD</th>
<th>Other</th>
</tr>
</thead>
<tr class="">
<td class="tree-node-name"><span style="padding-left: 1.5em"><a href="journal/Assets.html" class="account">Assets</a></span></td>
<td class="num"></td>
<td class="num"></td>
</tr>
<tr class="totals">
<td class="tree-node-name"><span class="totals-label"></span></td>
<td class="num"></td>
<td class="num"></td>
</tr>
</table>

                 </div>

               </div>
               <div class="halfright">

                 <div id="liabilities">
                  <h3>Liabilities</h3>
                  <table class="fullwidth tree-table">
<thead>
<tr>
<th class="first">Account</th>
<th>USD</th>
<th>Other</th>
</tr>
</thead>
<tr class="">
<td class="tree-node-name"><span style="padding-left: 1.5em"><a href="journal/Liabilities.html" class="account">Liabilities</a></span></td>
<td class="num"></td>
<td class="num"></td>
</tr>
<tr class="totals">
<td class="tree-node-name"><span class="totals-label"></span></td>
<td class="num"></td>
<td class="num"></td>
</tr>
</table>

                 </div>
                 <div class="spacer">
                 </div>
                 <div id="equity">
                  <h3>Equity</h3>
                  <table class="fullwidth tree-table">
<thead>
<tr>
<th class="first">Account</th>
<th>USD</th>
<th>Other</th>
</tr>
</thead>
<tr class="">
<td class="tree-node-name"><span style="padding-left: 1.5em"><a href="journal/Equity.html" class="account">Equity</a></span></td>
<td class="num"></td>
<td class="num"></td>
</tr>
<tr class="totals">
<td class="tree-node-name"><span class="totals-label"></span></td>
<td class="num"></td>
<td class="num"></td>
</tr>
</table>

                 </div>

               </div>
            
    </div>

  </body>
</html>