<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Glimesh Finances: Holdings by Currency</title>

    <!-- begin scripts -->
    <script src="../../../third_party/sorttable.js"></script>
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Glimesh Finances - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="../balsheet.html">Balance Sheet</a></li>
  <li><a href="../income.html">Income Statement</a></li>
  <li><a href="holdings.html">Equity/Holdings</a></li>
  <li><a href="../trial.html">Trial Balance</a></li>
  <li><a href="../journal/all.html">General Journal</a></li>
  <li><a href="../index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Holdings by Currency</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      <center>
<div>
<table class="holdings detail-table sortable">
  <thead>
    <tr>
      <th>Account</th>
      <th>Units</th>
      <th>Currency</th>
      <th>Cost Currency</th>
      <th>Average Cost</th>
      <th>Price</th>
      <th>Book Value</th>
      <th>Market Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Assets</td>
      <td>51.30</td>
      <td>USD</td>
      <td>USD</td>
      <td>1.00</td>
      <td>1.00</td>
      <td>51.30</td>
      <td>51.30</td>
    </tr>
  </tbody>
</table>
</div>
</center>

    </div>

  </body>
</html>