<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Glimesh Finances: Expenses:Other</title>

    <!-- begin scripts -->
    
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Glimesh Finances - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="../balsheet.html">Balance Sheet</a></li>
  <li><a href="../income.html">Income Statement</a></li>
  <li><a href="../equity/holdings.html">Equity/Holdings</a></li>
  <li><a href="../trial.html">Trial Balance</a></li>
  <li><a href="all.html">General Journal</a></li>
  <li><a href="../index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Expenses:Other</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      
      <table class="entry-table">
      <thead>
        <tr>
         <th class="datecell">Date</th>
         <th class="flag">F</th>
         <th class="description">Narration/Payee</th>
         <th class="position">Position</th>
         <th class="price">Price</th>
         <th class="cost">Cost</th>
         <th class="change">Change</th>
         <th class="balance">Balance</th>
        </tr>
      </thead>
    

          <tr class="Open " title="/home/runner/work/finances/finances/FY2020/FY2020.beancount:4">
            <td class="datecell"><span class="removed-link">2020-07-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-08.beancount:2">
            <td class="datecell"><span class="removed-link">2020-08-18</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Plausible</span></td>
            <td class="change num">12.00 USD</td>
            <td class="balance num">12.00 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-08.beancount:7">
            <td class="datecell"><span class="removed-link">2020-08-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Poeditor.com</span></td>
            <td class="change num">14.99 USD</td>
            <td class="balance num">26.99 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">14.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">14.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-14.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-14.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-09.beancount:2">
            <td class="datecell"><span class="removed-link">2020-09-17</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Plausible</span></td>
            <td class="change num">12.00 USD</td>
            <td class="balance num">38.99 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-09.beancount:7">
            <td class="datecell"><span class="removed-link">2020-09-21</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Poeditor.com</span></td>
            <td class="change num">14.99 USD</td>
            <td class="balance num">53.98 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">14.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">14.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-14.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-14.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-10.beancount:22">
            <td class="datecell"><span class="removed-link">2020-10-19</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Plausible</span></td>
            <td class="change num">12.00 USD</td>
            <td class="balance num">65.98 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-10.beancount:28">
            <td class="datecell"><span class="removed-link">2020-10-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Poeditor.com</span></td>
            <td class="change num">14.99 USD</td>
            <td class="balance num">80.97 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">14.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">14.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-14.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-14.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-10.beancount:34">
            <td class="datecell"><span class="removed-link">2020-10-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Poeditor.com</span></td>
            <td class="change num">30.00 USD</td>
            <td class="balance num">110.97 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">30.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">30.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-30.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-30.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-11.beancount:32">
            <td class="datecell"><span class="removed-link">2020-11-17</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Plausible</span></td>
            <td class="change num">12.00 USD</td>
            <td class="balance num">122.97 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-11.beancount:38">
            <td class="datecell"><span class="removed-link">2020-11-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Poeditor.com</span></td>
            <td class="change num">44.99 USD</td>
            <td class="balance num">167.96 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">44.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">44.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-44.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-44.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-12.beancount:33">
            <td class="datecell"><span class="removed-link">2020-12-17</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Plausible</span></td>
            <td class="change num">12.00 USD</td>
            <td class="balance num">179.96 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-12.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-12.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-12.beancount:38">
            <td class="datecell"><span class="removed-link">2020-12-21</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Poeditor.com</span></td>
            <td class="change num">44.99 USD</td>
            <td class="balance num">224.95 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">44.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">44.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-44.99 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-44.99 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/finances/finances/FY2020/2020-12.beancount:60">
            <td class="datecell"><span class="removed-link">2020-12-21</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Emailoctopus</span></td>
            <td class="change num">5.00 USD</td>
            <td class="balance num">229.95 USD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Other:Services.html" class="account">Expenses:Other:Services</a></span></td>
                    <td class="position num">5.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">5.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Azlo:Operations.html" class="account">Assets:Azlo:Operations</a></span></td>
                    <td class="position num">-5.00 USD</td>
                    <td class="price num"></td>
                    <td class="cost num">-5.00 USD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                
</table>

    </div>

  </body>
</html>